{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

}}

<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="/about-me/">
    <i class="fa fa-info fa-lg fa-fw"></i>About Me
  </a>
</li>
<li class="drawer-list-item">
  <a href="mailto:alannahelms@gmail.com?subject=AdvoByAlanna">
    <i class="fa fa-envelope-o fa-lg fa-fw"></i>Contact Me
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>Subscribe to Feed
  </a>
</li>
<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>
<li class="drawer-list-item">
  <a href="https://www.facebook.com/AdvoByAlanna" target="_blank">
    <i class="fa fa-facebook-square"></i>Facebook
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://www.pinterest.com/alannahelms" target="_blank">
    <i class="fa fa-pinterest"></i>Pinterest
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://instagram.com/advobyalanna" target="_blank">
    <i class="fa fa-instagram"></i>Instagram
  </a>
</li>
<li class="drawer-list-item">
  <a href="vine://user/1006084401924354048">
    <i class="fa fa-video-camera"></i>Vine
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/advobyalanna" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
