<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small>Published with <a href="http://ghost.org" target="_blank">Ghost</a>, themed with <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium</a>.</small></p>
</footer>
