.post-list {
  padding-bottom: 50px;
}

.post-list-header {
  height: 40px;
  border-top: 1px solid $line-breaks-color;
  border-bottom: 1px solid $line-breaks-color;

  h1, .post-list-pagination {
    line-height: 40px;
    font-size: 11.5px;
    color: $muted-text-color;
    text-transform: uppercase;
    width: 50%;
    letter-spacing: 1px;
  }

  h1 {
    float: left;
    margin: 0;
    padding: 0;
  }

  .post-list-pagination {
    float: right;
    text-align: right;
    padding: 0;
    border: 0;

    .post-list-pagination-item-next {
      margin-left: 20px;
    }
  }
}

.post-list-pagination {
  text-align: center;
  font-size: 14px;
  font-family: $title-font-family;
  padding: 25px 0;
  overflow: hidden;
  border-top: 1px solid $line-breaks-color;
}

.post-list-pagination-item {
  color: $muted-text-color;

  &.post-list-pagination-item-current {
    //line-height: 34px;
    @include breakpoint(xx-small) {
      display: none;
    }
  }

  &.post-list-pagination-item-prev,
  &.post-list-pagination-item-next {
    //padding: 5px 10px;
    //border-radius: 25px;
    //border: 1px solid $muted-text-color;
    text-decoration: none;
    transition: all .3s;

    &:hover,
    &:focus {
      //border-color: $primary-color;
      color: $primary-color;
    }
  }

  &.post-list-pagination-item-prev { float: left; }
  &.post-list-pagination-item-next { float: right; }
}
